@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:400,400i,700,700i&display=swap');

/** ***************************************************************************
 * Borders
 */
.border-3 {
  border-width: 3px !important;
}

/** ***************************************************************************
 * Layout.
 */
body {
  padding-top: 6.25rem;
}

@media (min-width: 768px) {
  /**
   * The slogan is only shown on medium breakpoints or higher
   * so we need a slightly larger top padding to overcome it.
   */
  body {
    padding-top: 8.25rem;
  }
}

.card-deck-lg-2 .card {
  min-width: 432px;
  max-width: 540px;
}

.card-deck-lg-3 .card {
  min-width: 288px;
  max-width: 540px;
}

/** ***************************************************************************
 * Typography.
 */
html, body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Crimson Text', serif;
}

.line-height-1 {
  line-height: 1em;
}